[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/vim-python-combined"]
	path = bundle/vim-python-combined
	url = https://github.com/mitsuhiko/vim-python-combined.git
